.container-fluid{
  padding: 0 55px;
  .page-root{
    margin-top:35px;
  }
}
.side-navigation{
  .section{
    margin-top:20px;
    &:first-child{
      margin-top:0;
    }
  }
  .nav{
    display: block;
    li{
      h2{
        font-size: 11px;
        line-height: 15px;
        margin: 0;
      }
    }
  }
}
.product-list{
  .product-item{
    text-align: center;
    .product-box{
      padding: 0 0 50px 0;
    }
    .product-item-text{
      padding: 12px 0 0 0;
    }
    p{
      margin: 0;
      font-size: 11px;
      &.brand-name{
        font-weight: 800;
      }
    }
  }
}
.sortby{
  text-align: right;
  a.trigger{
    position: relative;
    padding: 0 12px 0 0;
    &:after{
      content: '-';
      font-size: 13px;
      position: absolute;
      top: -3px;
      right: 0;
    }
  }
  .bold{
    font-weight: 800;
  }
  .section{
    margin-top: 10px;
    padding-bottom: 20px;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      margin: 0;
      padding: 0 0 2px 0;
      a{
        &:hover{
          text-decoration: none;
        }
      }
      &.active{
        font-weight: 800;
      }
    }
  }
}